<ul class="list-inline text-center">
  <% ["apo", "greg", "batu"].each do |member| %>
    <li>
      <%= image_tag "#{member}.jpg", class: "image_tag avatar-extralarge" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>


